<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @paper.name %>
</p>

<p>
  <strong>Keywords:</strong>
  <%= @paper.keywords %>
</p>

<p>
  <strong>Author:</strong>
  <%= @paper.author %>
</p>

<p>
  <strong>References:</strong>
  <%= @paper.references %>
</p>

<p>
  <strong>Topics:</strong>
  <%= @paper.topics %>
</p>

<%= link_to 'Edit', edit_paper_path(@paper) %> |
<%= link_to 'Back', papers_path %>
